html{
  min-height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#e66465, #9198e5)!important;
}

.main-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 20px;
  border: solid white 2px;
}

.head-shot{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.my-head{
  width: 200px;
  height: auto;
  border-radius: 20%;
}